/* Shared */

.body {
  background-image: url("../../public/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 6rem 4rem;
  min-height: 90vh;
}

.title {
  min-width: 250px;
  text-align: center;
  padding: 3rem 1rem;
  background-image: url("../../public/cloud.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: transparent;
}

.box {
  display: flex;
  flex: 1 0 10%;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #cdf4f4;
}

.tag {
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #cdf4f4;
}

.pop:hover {
  transform: scale(1.1);
}

/* Home Page */
.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vw;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}

.introductionLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: transitionLeft 1s ease;
}

.introductionRight {
  position: relative;
  display: flex;
  justify-content: center;
  animation: transitionRight 1s ease;
}

.description {
  margin: 2rem 0;
}

.links {
  width: 80%;
}

/* Projects Page */
.projects {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3vw;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 0 4rem;
}

.projectsLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: transitionLeft 1s ease;
}

.projectsImages {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.projectsImages > img {
  width: 50%;
  height: 100%;
}

.projectsImages > img:hover {
  transition-duration: 0.5s;
  transform: scale(1.5);
}

.projectsBuiltWith {
  display: flex;
  gap: 1rem;
}

.projectsRight {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: transitionRight 1s ease;
}

.current {
  border: 1px solid red;
  background-color: aquamarine;
  font-size: 100px;
}

/* Skills Page */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3rem 0 0 0;
}

.certifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  animation: transitionOpacity 1s;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  animation: transitionOpacity 1s;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  animation: transitionOpacity 1s;
}

@keyframes transitionOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionRight {
  from {
    opacity: 0;
    left: 100vw;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes transitionLeft {
  from {
    opacity: 0;
    right: 100vw;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  /* .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  } */
}

/* Mobile */
@media (max-width: 700px) {
  .introduction {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
